.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; /*mi permette di non accavallare gli elementi*/
    background-color: #232f3e;
    padding: 10px 20px;
    color: white;
}

.logo{ 
    font-size:20px;
    font-weight: bold; /*mi modifica lo stile del logo (Amazon clone)*/
}

.logo img{
    width: 100px; /*dimensioni del logo*/
    height: auto;
    cursor: pointer;
}

.search-bar{
    width: 40%; /*allargo la barra di ricerca*/
    padding: 5px; /* ingrantisco sopra e sotto la barra */
    border-radius: 5px; 
    border: none;
}

.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    width: 40%;
}

.search-button{
    background-color: #febd69;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search-button svg{
    font-size: 18px;
    color: black;
}

.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    margin: 0 15px;
    cursor: pointer;
}

.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 15px
}

.account-icon{
    font-size: 20px;
    color: white;
}




.cart{
    cursor: pointer; /*il cursore cambia forma e diventa la manina*/
    font-size: 18px;
}

